$primary-color: #da458f;
$background-color: #17161a;
$background-button-color: linear-gradient(
  91.47deg,
  #da458f -6%,
  #da34dd 113.05%
);
$foreground-color: #fff;
$btn-box-shadow: 0px 0px 50px 0px #bb4bff52;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

$font-size: 16px;
$font-size-mobile: 14px;
$font-family: Inter, Roboto, sans-serif;

:export {
  primaryColor: $primary-color;
  fontSize: $font-size;
  fontSizeMobile: $font-size-mobile;
  fontFamily: $font-family;
  backgroundButtonColor: $background-button-color;
  btnBoxShadow: $btn-box-shadow;
}
