@import '../../../styles/mixins.scss';

.main {
  padding: 10px;
  position: relative;
  @include desktop {
    padding: 40px;
    min-height: 650px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  gap: 16px;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }

  @include desktop {
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }

  @include desktoplg {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }
}

.mainLeft {
  @include desktop {
    position: absolute;
    width: 340px;
    padding-right: 30px;
  }
}

.mainRight {
  @include desktop {
    margin-left: 340px;
  }
}

.nftCards {
  max-height: 100vh;
  overflow: scroll;

  @include desktop {
    max-height: 120vh;
  }
}

.filterButtons {
  position: relative;
}

.nftMore {
  padding-top: 15px;
  text-align: center;
}
